<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to aypage - Log in, sign in and more</title>
    <!-- styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/iconFont.css" rel="stylesheet" type="text/css" />
    <link href="css/metro-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/default-style.css" rel="stylesheet" type="text/css" />

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>			       
	  <div class="main">  
	    <div class="wrap"> 
	     <div class="main-top"> 
             <div class="admin-header" >
                 <h1>Hi Admin</h1>
                 <p>check out what is happening on aypage</p>
                 <p>last Log In : <strong>20 Sep 2014, 14h:50 </strong></p>
                 <p> statistics updated <strong>1 hour ago</strong></p>
              </div>
             <h2>statistics</h2>
             <div class="row">
                 <div class="span4">
                   <div class="admin-body">
                     <h3><i class="icon-user-2" style="margin-right:35px;"></i> users</h3>
                     <div class="admin-divider"></div>
                     <h4><strong>1215</strong> total registered users</h4>
                     <h4><strong>1215</strong> sign ups today</h4>
                     <h4><strong>1215</strong> sign ups this week</h4>
                     <h4><strong>1215</strong> sign ups this month</h4>
                 </div>
                 </div>
                 <div class="span4">
                     <div class="admin-body">
                         <h3><i class="icon-link" style="margin-right:35px;"></i> links</h3>
                         <div class="admin-divider"></div>
                         <h4><strong>1215</strong> total available available</h4>
                         <h4><strong>1215</strong> links created today</h4>
                         <h4><strong>1215</strong> links created this week</h4>
                         <h4><strong>1215</strong> links created this month</h4>
                     </div>
                 </div>

                 <div class="span4">
                     <div class="admin-body">
                     <h3><i class="icon-stats" style="margin-right:35px;"></i> page views</h3>
                     <div class="admin-divider"></div>
                     <h4><strong>12150005</strong> total views</h4>
                     <h4><strong>256</strong> views day</h4>
                     <h4><strong>25625</strong> views this week</h4>
                     <h4><strong>25625</strong> views this month</h4>
                     </div>
                 </div>

                 <div class="span4">
                     <div class="admin-body">
                         <h3>groups</h3>
                         <div class="admin-divider"></div>
                         <h4><strong>256</strong> total groups</h4>
                         <h4><strong>256</strong> groups created today</h4>
                         <h4><strong>256</strong> groups created this week</h4>
                         <h4><strong>256</strong> groups created this month</h4>
                         <h4><strong>256</strong> manual groups</h4>
                         <h4><strong>256</strong> automatic groups</h4>
                     </div>
                 </div>
                 <div class="span4">
                     <div class="admin-body">
                         <h3>reports</h3>
                         <div class="admin-divider"></div>
                         <h4><strong>256</strong> total reports</h4>
                         <h4> <strong>256</strong> reports today</h4>
                         <h4><strong>256</strong> reports this week</h4>
                         <h4><strong>256</strong> reports this month</h4>
                     </div>
                 </div>
                 <div class="span12" style="padding:10px;background:#fff; border-radius:5px;margin-top:10px;">
                     <h1><i class="icon-stats" style="margin-right:35px;"></i> detailed statistics</h1>
                     <div style="border-bottom:1px solid #e5e5e5;"></div>
                     <div class="span4">
                         <h4>visitors by country</h4>
                       <div id="chartContainer2" class="case-container" style="width: 100%; height:200px;"></div>
                     </div>
                     <div class="span4">
                         <h4>visitors by month</h4>
                         <div id="chartContainer" class="case-container" style="width: 100%; height: 200px;"></div>
                     </div>
                 </div>
                 <div class="span12" style="padding:10px;background:#fff; border-radius:5px;margin-top:10px;">
                     <h1><i class="icon-tools" style="margin-right:35px;"></i> control tools</h1>
                     <div style="border-bottom:1px solid #e5e5e5;"></div>
                     <h4><strong>12 </strong>buggs report <a href="#"> view</a></h4>
                 </div>
             </div>
    	        <div class="clear"></div>
 	          </div>
 	          
 	          <!-- Main-bottom -->
 	          	
 	        </div>
          </div>
  	     <div class="copy-right">
		  <p>Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a> </p>
	    </div> 
    <div class="footer-area">
        <h4>aypage is a product of <strong><a href="http://www.ayttiq.com"> ayttiq</a></strong></h4>
    </div>
  </body>
</html>

