<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to aypage - Log in, sign in and more</title>
    <!-- styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/iconFont.css" rel="stylesheet" type="text/css" />
    <link href="css/metro-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/default-style.css" rel="stylesheet" type="text/css" />

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>			       
    <div class="main">
        <div class="wrap">
            <div class="welcome-thanku">
                <h1> error 404  </h1>
                <h3>return home</h3>
            </div>
        </div>
    </div>
    <div class="footer-area"> aypage is a product of<a href="http://www.ayttiq.com"> ayttiq technologies</a>
        .all rights reserved
    </div>
  </body>
</html>

