<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to aypage - Log in, sign in and more</title>
    <!-- styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/iconFont.css" rel="stylesheet" type="text/css" />
    <link href="css/metro-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/default-style.css" rel="stylesheet" type="text/css" />

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>			       
	  <div class="main">  
	    <div class="wrap"> 
	     <div class="main-top"> 
             <div class="row">
             <div class="span12">
                 <div class="help-header">
                 <h3><i style="margin-right:40px;" class="icon-help-2"></i> help </h3>
                 <p>want to know more about aypage, this page is here to help you. </p>
                 <p style="color:#f00;">PLEASE NOTE aypage has <i class="icon-help-2"></i> icon in each page to help you and introduces you specifically based on that page functionalities</p>
                </div>
              </div> <!--/help heading content-->
              <div class="span3">
                  <div class="help-nav">
                  <ul class="nav nav-list">
                      <li><h4> Most friquently asked questions</h4></li>
                      <li><a href="#WhatIsAypage"> what is aypage ?</a></li>
                      <li><a href="#whatISlink"> what is a link ?</a></li>
                      <li><a href="#WhyUseAypage"> why use aypage ?</a></li>
                      <li><a href="#HowToUseAypage"> how to use aypage ?</a></li>
                      <li><a href="#HowToAddLink"> how to add link ?</a></li>
                      <li><a href="#NavigatingBetweenLinks"> navigating between the links</a></li>
                      <li><a href="#LinkTheory">8) how does this link, following theory works on aypage ? </a></li>
                      <li><a href="#DownloadCenter"> download center</a></li>
                      <li><a href="#HelpVideos"> more help videos</a></li>
                      <li><a href="#OnlineCommunity"> join our online community</a></li>
                  </ul>
                </div>
              </div>
              <div class="span9">
                  <div class="help-body">
                 <h3 id="WhatIsAypage">What is aypage?</h3>
                 <ul>
                     <li>aypage is an internet related service, available in <strong>Web, Desktop App, and Mobile App</strong> allowing you to create, find, share and follow links based on your interests</li>
                 </ul>
                 </div>
                  <div class="help-body">
                     <h3 id="whatISlink">What is a link ?</h3>
                     <ul>
                         <li>
                          a link is a combination of related URLs and internet services ( icluding <strong> Facebook, Twitter, Google Plus, LinkedIN...</strong>) based on certain content or person
                         </li>
                         <li>these links can be categorised as<strong> user, company and general links</strong></li>
                     </ul>
                  </div>
                  <div class="help-body">
                     <h3 id="WhyUseAypage">why use aypage?</h3>
                     <ul>
                         <li>aypage brings to you the power to to manage your key internet activities with your services (including email, social services, cloud storage service) much more easily</li>
                         <li>aypage makes it easier for you to navigate between those services and it keeps notifying you about them without actualy having to open the service first</li>
                         <li>more intresting is that aypage can let you follow your friends, and able to get updated what they upto on<strong> facebook, twitter, google +</strong>... on your aypage timeline</li>
                     </ul>
                  </div>
                  <div class="help-body">
                  <h3 id="HowToUseAypage">how to use aypage ?</h3>
                  <p>using aypage is very simply, lets get started. The following is a step by step guiding you on how to get about using aypage</p>
                  <p>take a look at a following structure, this is a basic structure of aypage</p>
                  <p><img src="images/aypage_basic frame.png" /></p>

                  <span style="border-radius:10px" class="label label-default">1</span> this frame basically shows a summary of your profile as a currently loged in user
                      it also provides a link to your profile, where you can view, edit and modify your full profile details
                   <ul>
                      <li>this section contains a summary of nnumber of user, enterprises and general links you have</li>
                       <li>it also contains servicec you would like your followers to get find you in and get updated about you (eg facebook, twitter, linkedIn, google +...)</li>
                   </ul>
                   
                  <p>
                      <span style="border-radius:10px" class="label label-default">2</span>
                      this is a menu section, that directs you to key arears so you can use aypage easily. Mainly has <strong>users, groups, notifications, favouritelins,
                          cloud storage, social, emails, music download, more links, add link, search links.</strong>
                  </p>

                   <span style="border-radius:10px" class="label label-default">3</span>
                    this is a main control area, it contains the following controls;

                   <p style="padding-left:15px;">
                       <img width="20" src="images/aypage_icon2.png" /> - directs you to your aypage timeline
                       <i class="icon-user"></i> - allows you to log out
                       <i class="icon-help"></i> - provides guidance through the page
                       <i class="icon-cog"></i> this where you are directed to your settings, to control you privacy and other prefferences
                   </p> 
                  <p>search bar - allows you to search a content based on that page, you are currently in</p>
                  <p>'make homepage' - this allows you to embedd aypage to your browser as a homepage</p>
                  <p>'download app' - this directs to download center</p>

                  <p><span style="border-radius:10px" class="label label-default">4</span>
                      this section provides you with page heading, this where you can see where you are on aypage.
                  </p>
                  <p>
                      <span style="border-radius:10px" class="label label-default">5</span>
                      This is a main content area wher you can see your updates e.g links, email links, cloud links, more links etc.
                  </p>
                  <p>
                      <span style="border-radius:10px" class="label label-default">6</span>
                      these are the links aypage suggests you might follow, these links can be user, company, and general links. We suggest them to you based on your location, interest, groups and follows.
                  </p>

                  <p>
                      <span style="border-radius:10px" class="label label-default">7</span>
                      this part shows you currently running (opened) links, we will show you how this works on <strong>navigating between the links.</strong>
                  </p>
                  </div>
                  <div class="help-body">
                  <h3 id="HowToAddLink">how to add link ?</h3>
                  <p>you can add a link in many ways, here we you show how</p>
                  <ul>
                      <li>links are added baesed on URLs, content descriptione etc.</li>
                      <li>you simply go to 'add link' option on the menu list a modal window will pop up with all the options to create a link.</li>
                      <li>you can add a link by pressing this button with an <i class="icon-link"></i>  icon on any link that you are currently not following</li>
                  </ul>
                  </div>
                  <div class="help-body">
                  <h3 id="NavigatingBetweenLinks">navigating between the links</h3>
                  <p>take a look at the following diagram, this shows you how to navigate links on aypage</p>
                  <img src="images/aypage link navigation.png" />
                  <p>in this figure we are using google search as an example, once the link is clicked aypage opens the page directed by the URL, with a close, minimise, back, forward and timeline options
                      Once if you want to navigate back to aypage, you can press timeline, if the link is not closed it will go back and and appear on Active links on aypage
              
                  </p>
                  </div>
                  <div class="help-body">
                  <h3 id="LinkTheory">how does this 'link', 'following' theory works on aypage ? </h3>
                  <p>As of basic aypage functionality, a user or enterprise creates a link in which other users will link it to follow it, meaning by pressing the <i class="icon-link"></i>
                      button in this way a user adds the link on his/her aypage. This link can be listed on specific chosen section i.e more links, user links, groups etc
                                                                                                                                                                   </p>
                  <p>Once the link is added, now you are following the link, meaning you will get facebook posts, tweets i.e (depends on the type of the link) on your aypage timeline</p>
                  <p><strong>Note</strong> some of the links might not have social networks services embedded to them in this way they will not pass updates to your aypage timeline. They will only be listed</p>
                  </div>
                  <div class="help-body">
                  <h3 id="DownloadCenter">download center</h3>                  
                  <p><strong>aypage</strong> is a cross platform app, it is available as a <strong>web, desktop and mobile app</strong> (Website, Windows desktop, Mac OS, iOS, Android, BlackBerry, Windows Phone)
                      on the download center page. In this download center you can see current  updates in all versions, all for free to download.
                  </p>
                  </div>
                  <div class="help-body">
                 <h3 id="HelpVideos">More help videos, available on<strong> <a href="http://www.youtube.com/channel/UCjpn08XLAnMOnKTCs62k8aQ"><i style="margin-right:20px;" class="icon-youtube"></i>Youtube</a></strong></h3>
                 </div>
                 <div class="help-body">
                 <h3 id="OnlineCommunity">Join our online community</h3>
                     <ul>
                         <li> see what other people saying about aypage</li>
                         <li>share your opinions and question</li>
                     </ul>
                 <h3>available on <a href="http://www.facebook.com/ayttiqpage"><i style="margin-right:20px; margin-left:20px;" class="icon-facebook"></i> ayttiqpage</a>
                     <a href="http://www.twitter.com/ayttiq"><i style="margin-right:20px; margin-left:20px;" class="icon-twitter"></i> @ayttiq</a>
                     <a href="https://plus.google.com/101368664558983535120/about"><i style="margin-right:20px; margin-left:20px;" class="icon-google-plus"></i>ayttiq</a>
                 </h3>
                </div>
               </div> <!--/help description content-->
             </div>
 	         </div>
           </div>
      </div>
    <div class="footer-area"> aypage is a product of<a href="http://www.ayttiq.com"> ayttiq technologies</a>
        .all rights reserved
    </div>
  </body>
</html>

