<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to aypage - Log in, sign in and more</title>
    <!-- styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/iconFont.css" rel="stylesheet" type="text/css" />
    <link href="css/metro-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/default-style.css" rel="stylesheet" type="text/css" />

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>			       
    <div class="main">
        <div class="wrap">
            <div class="row">
                <div class="signup-header">
                    <h3>Sign up</h3>
                </div>
                <div class="span8">
                    <div class="signup-container">
                        <h4>Other profiles</h4>
                        <div class="divider"></div>
                        <h5>linkedin</h5>
                        <p><i class="icon-linkedin"></i><input type="url" /></p>
                        <h5>pinterest</h5>
                        <p><i class="icon-pinterest"></i><input type="url" /></p>
                        <h5>tumblr</h5>
                        <p><i class="icon-tumblr"></i><input type="text" /></p>
                        <h5><i class="icon-plus"></i> add more profiles</h5>
                    </div>
                </div>
                <div class="span4">
                    <div class="signup-container">
                    <h4>preview</h4>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="span12">
                <button class="pull-right">procceed <i class="icon-arrow-right-2"></i></button>
            </div>
        </div>
    </div>
  	     <div class="copy-right">
		  <p>Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a> </p>
	    </div> 
    <div class="footer-area">
        <h4>aypage is a product of <strong><a href="http://www.ayttiq.com"> ayttiq</a></strong></h4>
    </div>
  </body>
</html>

