<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>signed out ...</title>
    <!-- styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/iconFont.css" rel="stylesheet" type="text/css" />
    <link href="css/metro-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/default-style.css" rel="stylesheet" type="text/css" />

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>			       
    <div class="main">
        <div class="wrap">
            <div class="welcome-thanku">
                <h1> Thank you !!  </h1>
                <h3><strong> Thiba Mahlezana</strong></h3>
                <h5>you have successfully singed out from aypage</h5>
                <p>sign in</p>
                <p>sign up</p>
            </div>
        </div>
    </div>
    <div class="footer-area"> aypage is a product of<a href="http://www.ayttiq.com"> ayttiq technologies</a>
        .all rights reserved
    </div>
  </body>
</html>

