<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> aypage | social profiles</title>
    <!-- styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/iconFont.css" rel="stylesheet" type="text/css" />
    <link href="css/metro-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/default-style.css" rel="stylesheet" type="text/css" />

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/flat-ui.min.js"></script>
    <script type="text/javascript" src="js/prettify.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
</head>
<body>			       
    <div class="main">
        <div class="wrap">
            <!--- main navbar --->
            <div class="main-navbar">
                    <div class="main-navbar-items-one">
                            <a href="#"><i class="icon-list"></i> timeline</a>
                            <a href="#"><i class="icon-link"></i> links</a>
                            <a href="#"><i class="icon-bell"></i> notifications</a>
                      </div>
                      <div class="main-navbar-search">
                          <input type="search" id="typeahead-demo-01" placeholder="search ..." />
                      </div>
                      <div class="main-navbar-items-two">
                            <a href="#"><i class="icon-cog"></i> settings</a>
                            <a href="#"><i class="icon-help-2"></i> help</a>
                            <a href="#"><i class="icon-exit"></i> sign out</a>
                      </div>  
            </div>
          <div class="row">
            <!--- navigation section --->
            <div class="span3">
                <!--- current userbar --->
                <div class="current-user">
                    <div class="c-user-avatar">
                        <img class="img-rounded" src="images/profile-pic.jpg" />
                    </div>
                     <div class="c-user-verf">
                            <i class="icon-checkmark"></i>
                    </div>
                    <div class="c-user-name"><h5><strong><a href="#"> thiba mahlezana</a></strong></h5></div>
                    <div class="c-user-desc">
                        <p>22 year old, Male</p>
                        <p><i class="icon-location"></i> Johannesburg, ZA</p>
                        <p><i class="icon-briefcase"></i> Ayttiq Technologies</p>
                        <p><i class="icon-link"></i><a href="#"> thiba.com</a></p>
                    </div>
                    <div class="c-user-type"><i class="icon-user-2"></i></div>
                    <div class="c-user-profs">
                        <div class="c-user-profs-soc">
                            <i class="icon-facebook"></i>
                            <i class="icon-twitter"></i>
                            <i class="icon-google-plus"></i>
                        </div>
                        <div class="c-user-profs-cont">
                            <i class="icon-phone"></i>
                            <i class="icon-mail"></i>
                        </div>
                        <div class="c-user-profs-mid">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </div>
                        <div class="c-user-extra">
                            <i class="icon-linkedin"></i>
                            <i class="icon-tumblr"></i>
                            <i class="icon-youtube"></i>
                            <i class="icon-mark"></i>
                        </div>
                    </div>
                </div>

                <!--- menu bar  --->
                <div class="menu-navbar">
                <ul class="nav nav-list">
                    <li>menu list</li>
                    <li class="divider"></li>
                    <li><a href="#"> people </a></li>
                    <li><a href="#"> groups </a></li>
                    <li><a href="#"> companies </a></li>
                    <li><a href="#"> sites </a></li>
                    <li class="divider"></li>
                    <li><a href="#"> favourites </a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-comments-2"></i> social </a></li>
                    <li><a href="#"><i class="icon-mail"></i> mail </a></li>
                    <li><a href="#"><i class="icon-cloud"></i> cloud </a></li>
                    <li class="divider"></li>
                    <li><a href="#"> more ...</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-plus"></i> add </a></li>
                    <li><a href="#"><i class="icon-search"></i> search </a></li>
                </ul>
                </div>
            </div>
            <!--- content sestion --->
            <div class="span6">
                <!---- title bar ----->
                <div class="title-bar">
                    <div class="title-bar-icon">
                        <i class="icon-comments-2"></i>
                    </div>
                    <div class="title-bar-heading">
                        <h4>social</h4>
                    </div>
                    <div class="title-bar-desc">
                        <strong>Thiba </strong> you have<strong> 10 </strong>social profiles
                    </div>
                    <div class="title-bar-conn">
                        3 connected <i class="icon-checkmark"></i>
                    </div>
                </div> 
                <div class="page-title">here is a list ...</div>
                <!---- title bar ----->
                <div class="soc-link">
                    <div class="soc-link-icon">
                        <i class="icon-facebook"></i>
                    </div>
                    <!--<div class="soc-link-verf">
                        <i class="icon-checkmark"></i>
                    </div> ---->
                    <div class="soc-link-title">
                        <h4><strong>facebook </strong>| thiba mahlezana</h4>
                    </div>
                    <div class="soc-link-desc">
                        424 friends, 2 followers
                    </div>
                    <div class="soc-link-conn">
                        connected <i class="icon-checkmark"></i>
                    </div>
                    <div class="soc-link-btnconn">
                        <i class="icon-plus-2"></i>
                    </div>
                </div>
                <div class="soc-link">
                    <div class="soc-link-icon">
                        <i class="icon-twitter"></i>
                    </div>
                    <!--<div class="soc-link-verf">
                        <i class="icon-checkmark"></i>
                    </div> ---->
                    <div class="soc-link-title">
                        <h4><strong>twitter </strong>| @thiba_mahlezana</h4>
                    </div>
                    <div class="soc-link-desc">
                        108 followers, 23 followers
                    </div>
                    <div class="soc-link-conn">
                        connected <i class="icon-checkmark"></i>
                    </div>
                    <div class="soc-link-btnconn">
                        <i class="icon-plus-2"></i>
                    </div>
                </div>
                <div class="soc-link">
                    <div class="soc-link-icon">
                        <i class="icon-google-plus"></i>
                    </div>
                    <!--<div class="soc-link-verf">
                        <i class="icon-checkmark"></i>
                    </div> ---->
                    <div class="soc-link-title">
                        <h4><strong>google plus </strong>| thiba mahlezana</h4>
                    </div>
                    <div class="soc-link-desc">
                        4 followers, 528 views
                    </div>
                    <div class="soc-link-conn">
                        connected <i class="icon-checkmark"></i>
                    </div>
                    <div class="soc-link-btnconn">
                        <i class="icon-plus-2"></i>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="soc-link">
                    <div class="soc-link-icon">
                        <i class="icon-linkedin"></i>
                    </div>
                    <!--<div class="soc-link-verf">
                        <i class="icon-checkmark"></i>
                    </div> ---->
                    <div class="soc-link-title">
                        <h4><strong>linkedin </strong>| thiba mahlezana</h4>
                    </div>
                    <div class="soc-link-desc">
                        68 connections
                    </div>
                    <div class="soc-link-conn">
                        connected <i class="icon-checkmark"></i>
                    </div>
                    <div class="soc-link-btnconn">
                        <i class="icon-plus-2"></i>
                    </div>
                </div>
                <div class="soc-link">
                    <div class="soc-link-icon">
                        <i class="icon-pinterest"></i>
                    </div>
                    <!--<div class="soc-link-verf">
                        <i class="icon-checkmark"></i>
                    </div> ---->
                    <div class="soc-link-title">
                        <h4><strong>pinterest </strong>| thiba mahlezana</h4>
                    </div>
                    <div class="soc-link-desc">
                        42 pins, 2 followers
                    </div>
                    <div class="soc-link-conn">
                        connected <i class="icon-checkmark"></i>
                    </div>
                    <div class="soc-link-btnconn">
                        <i class="icon-plus-2"></i>
                    </div>
                </div>
                <div class="soc-link">
                    <div class="soc-link-icon">
                        <i class="icon-youtube"></i>
                    </div>
                    <!--<div class="soc-link-verf">
                        <i class="icon-checkmark"></i>
                    </div> ---->
                    <div class="soc-link-title">
                        <h4><strong>youtube </strong>| thiba mahlezana</h4>
                    </div>
                    <div class="soc-link-desc">
                        4 videos, 2 subscribers
                    </div>
                    <div class="soc-link-conn">
                        connected <i class="icon-checkmark"></i>
                    </div>
                    <div class="soc-link-btnconn">
                        <i class="icon-plus-2"></i>
                    </div>
                </div>
                <div class="active-link-extra">
                    <a href="#">add more profiles</a>
                </div>
            </div>

            <!--- recommendations and active links section --->
            <div class="span4">
                <div class="active-link-sec-header">
                    <h4>active links</h4>
                </div>
                <div class="active-link">
                    <a href="#">
                        <div class="active-link-icon"><i class="icon-globe"></i></div>
                        <div class="active-link-desc"> official ayttiq website</div>
                        <div class="active-link-url">ayttiq.com</div>
                    </a>
                </div>
                <div class="active-link">
                    <a href="#">
                        <div class="active-link-icon"><i class="icon-facebook"></i></div>
                        <div class="active-link-desc"> facebook | nees feeds</div>
                        <div class="active-link-url">facebook.com</div>
                    </a>
                </div>
                <div class="active-link">
                    <a href="#">
                        <div class="active-link-icon"><i class="icon-twitter"></i></div>
                        <div class="active-link-desc"> twitter @ayttiq_technologies</div>
                        <div class="active-link-url">twitter.com/ayttiq</div>
                    </a>
                </div>
                <div class="active-link">
                    <a href="#">
                        <div class="active-link-icon"><i class="icon-apple"></i></div>
                        <div class="active-link-desc"> apple (south africa)</div>
                        <div class="active-link-url">apple.com/za/iphone</div>
                    </a>
                </div>
                <div class="active-link">
                    <a href="#">
                        <div class="active-link-icon"><i class="icon-new"></i></div>
                        <div class="active-link-desc"> JustPlay | online competitions</div>
                        <div class="active-link-url">justplay.com/</div>
                    </a>
                </div>
                <div class="active-link-extra">
                    <a href="#">6 more links</a>
                </div>
                <div class="active-link-sec-header">
                    <h4>links you might like to follow</h4>
                </div>
                <!----- === mini link 0ne === ------>
                    <div class="mini-indiv-link">
                        <div class=".m-indiv-link-avatar">
                            <img class="img-rounded" width="60px" src="images/profile-pic.jpg" />
                        </div>
                        <div class="m-indiv-link-verf">
                            <i class="icon-checkmark"></i>
                        </div>
                        
                        <div class="m-indiv-link-desc">
                            <div class="m-indiv-link-desc-name">
                                <h4><a href="#"> <strong> Thiba Mahlezana</strong></a></h4>
                            </div>
                            <div class="m-indiv-link-desc-type">
                                22 year old, Male, Johannesburg, ZA
                            </div>
                        </div>
                        <div class="m-indiv-link-stats-p">
                            <i class="icon-user-2"></i>
                        </div>
                        <div class="m-indiv-link-stats">
                            <p><strong> 2.5K</strong></p>
                            <p><strong> followers</strong></p>
                        </div>
                        <div class="m-indiv-link-follow"><i class="icon-plus"></i></div>
                        <div class="m-indiv-link-stats-more"><a href="#"> ...</a></div>
                        <div class="m-indiv-profs-icons">
                            <div class="m-indiv-profs-soc">
                                <i class="icon-facebook"></i>
                                <i class="icon-twitter"></i>
                                <i class="icon-google-plus"></i>
                            </div>
                            <div class="m-indiv-profs-contacts">
                                <i class="icon-phone"></i>
                                <i class="icon-mail-2"></i>
                            </div>
                            <div class="m-indiv-profs-mid">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </div>
                            <div class="m-indiv-profs-extra">
                                <i class="icon-linkedin"></i>
                                <i class="icon-tumblr"></i>
                                <i class="icon-youtube"></i>
                            </div>
                        </div>
                    </div>
                <!----- === mini link Two === ------>
                    <div class="mini-indiv-link">
                        <div class=".m-indiv-link-avatar">
                            <img class="img-rounded" width="60px" src="images/asa-profile-pic.jpg" />
                        </div>
                        <div class="m-indiv-link-verf">
                            <i class="icon-checkmark"></i>
                        </div>
                        
                        <div class="m-indiv-link-desc">
                            <div class="m-indiv-link-desc-name">
                                <h4><a href="#"> <strong> Asanda Mahlezana</strong></a></h4>
                            </div>
                            <div class="m-indiv-link-desc-type">
                                19 year old, Female, Durban, ZA
                            </div>
                        </div>
                        <div class="m-indiv-link-stats-p">
                            <i class="icon-user-2"></i>
                        </div>
                        <div class="m-indiv-link-stats">
                            <p><strong> 2.5K</strong></p>
                            <p><strong> followers</strong></p>
                        </div>
                        <div class="m-indiv-link-follow"><i class="icon-plus"></i></div>
                        <div class="m-indiv-link-stats-more"><a href="#"> ...</a></div>
                        <div class="m-indiv-profs-icons">
                            <div class="m-indiv-profs-soc">
                                <i class="icon-facebook"></i>
                                <i class="icon-twitter"></i>
                                <i class="icon-google-plus"></i>
                            </div>
                            <div class="m-indiv-profs-contacts">
                                <i class="icon-phone"></i>
                                <i class="icon-mail-2"></i>
                            </div>
                            <div class="m-indiv-profs-mid">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </div>
                            <div class="m-indiv-profs-extra">
                                <i class="icon-linkedin"></i>
                                <i class="icon-tumblr"></i>
                                <i class="icon-youtube"></i>
                            </div>
                        </div>
                    </div>
                <!----- === mini link Three === ------>
                    <div class="mini-indiv-link">
                        <div class=".m-indiv-link-avatar">
                            <img class="img-rounded" width="60px" src="images/asa-profile-pic.jpg" />
                        </div>
                        <div class="m-indiv-link-verf">
                            <i class="icon-checkmark"></i>
                        </div>
                        
                        <div class="m-indiv-link-desc">
                            <div class="m-indiv-link-desc-name">
                                <h4><a href="#"> <strong> Asanda Mahlezana</strong></a></h4>
                            </div>
                            <div class="m-indiv-link-desc-type">
                                19 year old, Female, Durban, ZA
                            </div>
                        </div>
                        <div class="m-indiv-link-stats-p">
                            <i class="icon-user-2"></i>
                        </div>
                        <div class="m-indiv-link-stats">
                            <p><strong> 2.5K</strong></p>
                            <p><strong> followers</strong></p>
                        </div>
                        <div class="m-indiv-link-follow"><i class="icon-plus"></i></div>
                        <div class="m-indiv-link-stats-more"><a href="#"> ...</a></div>
                        <div class="m-indiv-profs-icons">
                            <div class="m-indiv-profs-soc">
                                <i class="icon-facebook"></i>
                                <i class="icon-twitter"></i>
                                <i class="icon-google-plus"></i>
                            </div>
                            <div class="m-indiv-profs-contacts">
                                <i class="icon-phone"></i>
                                <i class="icon-mail-2"></i>
                            </div>
                            <div class="m-indiv-profs-mid">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </div>
                            <div class="m-indiv-profs-extra">
                                <i class="icon-linkedin"></i>
                                <i class="icon-tumblr"></i>
                                <i class="icon-youtube"></i>
                            </div>
                        </div>
                    </div>
                <div class="active-link-extra">
                    <a href="#"> more ...</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-area"> aypage is a product of<a href="http://www.ayttiq.com"> ayttiq technologies</a>
        .all rights reserved
    </div>
  </body>
</html>

