<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>test</title>
    <!-- styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/iconFont.css" rel="stylesheet" type="text/css" />
    <link href="css/metro-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/default-style.css" rel="stylesheet" type="text/css" />

    <!-- JavaScripts -->

</head>
<body>	

    <div class="main-navbar">
        <div class="main-navbar-items-one">
            <a href="#"><i class="icon-list"></i> timeline</a>
            <a href="#"><i class="icon-link"></i> links</a>
            <a href="#"><i class="icon-bell"></i> notifications</a>
        </div>
        <div class="main-navbar-search">
            <input type="search" id="typeahead-demo-01" placeholder="search ..." />
        </div>
        <div class="main-navbar-items-two">
            <a href="#"><i class="icon-cog"></i> settings</a>
            <a href="#"><i class="icon-help-2"></i> help</a>
            <a href="#"><i class="icon-exit"></i> sign out</a>
        </div>  
    </div>		       
    <div class="main">
        <div class="wrap">

            <a href="#" data-toggle=tooltip data-original-title="tiba"> thiba</a>

            <p><a href="#" data-toggle=tooltip data-original-title="tiba CEO and founder"> thiba mahlezana</a></p>
            <div class="row">
                <div class="span3">
                <div class="current-user">
                    <div class="c-user-avatar">
                        <img class="img-rounded" src="images/profile-pic.jpg" />
                    </div>
                     <div class="c-user-verf">
                            <i class="icon-checkmark"></i>
                    </div>
                    <div class="c-user-name"><h4><strong><a href="#"> thiba mahlezana</a></strong></h4></div>
                    <div class="c-user-desc">
                        <p>My profile</p>
                    </div>
                    <div class="c-user-type"><i class="icon-user-2"></i></div>
                    <div class="c-user-profs">
                        <div class="c-user-profs-soc">
                            <i class="icon-facebook"></i>
                            <i class="icon-twitter"></i>
                            <i class="icon-google-plus"></i>
                        </div>
                        <div class="c-user-profs-cont">
                            <i class="icon-phone"></i>
                            <i class="icon-mail"></i>
                        </div>
                        <div class="c-user-profs-mid">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </div>
                        <div class="c-user-extra">
                            <i class="icon-linkedin"></i>
                            <i class="icon-tumblr"></i>
                            <i class="icon-youtube"></i>
                            <i class="icon-mark"></i>
                        </div>
                    </div>
                </div>
                </div>
                <div class="span6"></div>
                <div class="span4"></div>
            </div>
        </div>
    </div>
    <div class="footer-area"> aypage is a product of<a href="http://www.ayttiq.com"> ayttiq technologies</a>
        &#169.all rights reserved
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/flat-ui.min.js"></script>

    <script>
        $(function () {
            $('[data-toggle=tooltip]').tooltip();
        });
    </script>

  </body>
</html>

