<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title> successfully signed up ...</title>

        <!-- stylesheets & JavaScripts -->
        <link rel="stylesheet" type="text/css" href="styles/metro-bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="styles/global.css" />
        <link rel="stylesheet" type="text/css" href="styles/flaticon.css" />
        <link rel="stylesheet" type="text/css" href="styles/access.css" />

        <style>
            body{
                padding-top: 0;
            }
        </style>

    </head>
    <body>
        <!-- header -->
        <div class="thank-you-page-header-grid">
            <p class="thank-you-page-header"> You are now registered !!  <i class="flaticon-smile"></i></p>
            <p class="thank-you-page-topic">Thank you for joining aypage, confirm your details;</p>
        </div>
        <div class="container">
            <!--- confirm sign up details section --->
            <!---- confirm person details ---->
            <div class="thank-you-page-grid">
                <div class="thank-you-grid-username">@username</p></div>
                <div class="thank-you-grid-avatar">
                    <img alt="avatar" src="img/avatar.jpg"/>
                    <div class="thank-you-grid-type"><i class="flaticon-user77"></i></div>
                </div>
                <p class="thank-you-grid-name">Name Surname</p>
                <div class="thank-you-grid-body">
                    <p>Short Description</p>
                    <p><i class="flaticon-telephone66"></i>0000 000 000</p>
                    <p><i class="flaticon-envelope4"></i>mail@mail.com</p>
                </div>
                <div class="thank-you-grid-footer">
                    <a href="edit-information.php"><i class="flaticon-font2"></i> Edit</a>
                </div>
            </div> <!---- / confirm person details ---->

            <!---- confirm company details ---->
            <div class="thank-you-page-grid">
                <div class="thank-you-grid-username">@username</p></div>
                <div class="thank-you-grid-avatar">
                    <img alt="logo" src="img/avatar.jpg"/>
                    <div class="thank-you-grid-type"><i class="flaticon-building8"></i></div>
                </div>
                <p class="thank-you-grid-name">Company Name Ltd</p>
                <div class="thank-you-grid-body">
                    <p>Company Short Description</p>
                    <p><i class="flaticon-telephone66"></i>0000 000 000</p>
                    <p><i class="flaticon-envelope4"></i>mail@mail.com</p>
                </div>
                <div class="thank-you-grid-footer">
                    <a href="edit-information.php"><i class="flaticon-font2"></i> Edit</a>
                </div>
            </div>
            <div class="welcome-thanku">
                <p><a href="timeline.php"><button class="btn"> procceed<i class="flaticon-chevron18"></i></button></a></p>
            </div>
        </div>
        <!----- footer ----->
        <footer>
            <div class="footer-area"> 
                <a class="pull-left" href="#"> help</a>
                <a class="pull-left" href="#"> terms and conditions</a>
                <a class="pull-left" href="#"> privacy</a>
                <a class="pull-left" href="#"> disclaimer</a>
                <a class="pull-left" href="#"> ads</a>
                aypage is a product of<a href="#"> ayttiq technologies</a>
                &copy; 2016 . All rights reserved 
            </div>
        </footer>
    </body>
</html>
