/***************************************************************************************************************
                                                 HELP
  **************************************************************************************************************/
.help-header {
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    color: #808080;
    margin: 5px 0;
    font-weight: 500;
}
.help-menu-content {
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    color: #808080;
    margin: 3px 0;
}
.help-menu-content > p {
    line-height: 1.3em;
    margin: 6px;
}
.help-menu-content > p:nth-of-type(1){
    font-size: 18px;
    font-weight: 500;
}
.help-menu-content > p > i {
    font-size: 15px;
}
.help-menu-content > p > a:hover{
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
    background: #808080;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;    
}
.help-menu-content:hover {
    background: #F0E8E0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;    
}