/* ===============================================================
                       PASSWORD RECOVERY STYLES 
  ================================================================ 
*/
.password-recover-header{
    font-size: larger;
    text-align: center;
    color: #808080;
    margin: 5px;
    line-height: 1em;
}
.password-recover-topic{
    font-size: 3em;
}
.password-recover-home-link{
    margin: 2px auto;
    width: 500px;
}
.password-recover-home-link > .btn{
    margin: 0 18px;
}
.password-recover-grid{}
.password-recover-grid > .alert{
    width: 409px;
    font-size: large;
    margin: 5px auto;
}
.password-recover-body{
    background: #fff;
    width: 445px;
    border-radius: 10px;
    padding: 5px;
    margin: 2px auto;
}
.password-recover-body > p:first-of-type{
    font-size: large;
    color: #808080;
}
.password-recover-body > input[type='text']{
    border-radius: 5px;
    background: #F0E8E0;
    width: 430px;
    height: 40px;
    color: #808080;
    font-size: large;
    border-style: none;
}
.password-recover-body > input[type='text']:focus{
    outline : 1px auto #829ddd;
    border-radius: 5px;    
}
.password-recover-body > .btn{
    width: 440px;
    height: 40px;
    background: #7b94b2;
    color: #fff;
}
.password-recover-body > .btn:hover{
    background: #829ddd;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}