/* ===============================================================
                          MAIL STYLES 
  ================================================================ 
*/
.mail-link{
    width:auto;
    height:60px;
    padding:5px;
    background:#fff;
    margin:5px 0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    position:relative;
}
.mail-link-icon{
    font-size:x-large;
    position:relative;
    top:30%;
    left:1%;
}
.mail-link-icon i{
    color:#829ddd;
}
.mail-link-title{
    position:relative;
    top:-50%;
    left:12%;
    line-height:1.5em;
}
.mail-link-desc{
    position:relative;
    top:-58%;
    left:12%;
    color:#808080;
}
.mail-link-conn{
    font-size:smaller;
    color:#808080;
    position:relative;
    top:-130%;
    left:85%;
}
.mail-link-btnconn{
    font-size:small;
    color:#808080;
    position:absolute;
    top:0;
    left:97%;
}
